main {
    background-color: black;
    
} 

h1 {
    font-family:  cursive;
    color:  bisque;
    text-align: center;
}

a.button {
    padding: 6px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    
}

h2 {
    color: maroon;
}

.hostpic {
    width: 200px;
    height: 200px;
    border-style: groove;
    border-width: 5px;
    border-color: aliceblue;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    top: 15px;
}

p {
    color: beige;
    margin-top: 50px;
}

#fampic {
    border-width: 10px;
    border-color: teal;
    border-style: solid;
    width: 700px;
    height: 600px
}

div {
    font-size: x-large;
}

.colored-strike {
    position: relative;
    display: inline;
    color: inherit;
}

.colored-strike::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 5px;
    background-color: red;
    width: 0;
    transform: translateY(-50%);
    animation: strike 1s ease-in-out infinite alternate;
}

@keyframes strike {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
        flex-direction: colum;
    }
}
